@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  overscroll-behavior: none;
}


/* Colleen scratchpad
 * TODO(colleemn) move to tailwind in components after checking styles
 */

/* tailwind overrides */
.text-xl {
  font-size: 1.25rem !important
}

.text-3xl {
    font-size: 2rem;
    line-height: 2.75rem;
}


/* outline */
.fixed.left-0.top-0.h-full.text-left.mt-8.leading-10 {
    background-color: rgb(243 244 246);
    padding-right: 1rem;
    padding-left: 0.5rem;
}

/* full-screen map buttons */
button.my-2.underline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background-color: #eee;
    padding: 0.5rem 0.75rem;
    border-radius: 2px;
}

