src/test/.svelte-kit/
src/routes/tmp
src/lib/pkg/
sum
src/lib/compute/.plaintext/*
coverage-ts
src/tmp
.venv
src/python-api
backup
static/smui.css
gen_tests.py
service-account-pk.json
tmp.*
.env
coverage
.vscode
input
.envrc
.firebase
firebase-debug.log
.DS_Store
node_modules
/build
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
